.animation-layout {
  .h-header{
    margin-bottom: 15px;
  }
  footer {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}


.animation-layout {
  .tab-container {
    position: relative;
    @include media-breakpoint-up(md) {
      height: calc(100vh - 175px);
      overflow-y: auto;
      overflow-x: hidden;
    }
    @include media-breakpoint-up(xl) {
      overflow-y: hidden;
    }
    .scroll-content {
      padding: 0 30px 80px 0;
    }
    & > * {
      display: block;
      @include position(absolute, 0, 0, 0, 0);
      background: $white;
      @include transform(translateX(-100%));
      opacity: 0;
      transition: transform .4s, opacity .5s;
      overflow-y: auto;
      overflow-x: hidden;
      @include media-breakpoint-down(sm) {
        transform: translateX(0);
        opacity: 1;
        position: static;
        padding: 50px 0;
      }
    }
    .animated {
      @include transform(translateX(0));
      transition-delay: .2s;
      opacity: 1
    }
  }
  .profile {
    position: relative;
    display: block;
    padding: 0;
    .scroll-content {
      padding: 50px 30px;
    }
    @include media-breakpoint-up(md) {
      height: calc(100vh - 175px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}